#title {
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

button {
	margin-left: 10px;
	margin-right: 10px;
}

#result {
	font-size: 10em;
	text-align: center;
	font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}